@page "/campos-homologacion"
@layout AdminLayout
@using SharedApp.Models.Dtos

<style>
    .striped-table tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    .striped-table tbody tr:nth-child(even) {
        background-color: #ffffff;
    }

    .card {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        margin: 20px 0;
    }

    .card-header {
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .card-body {
        padding: 15px;
    }

    .card-footer {
        background-color: #f8f9fa;
        padding: 10px 15px;
        text-align: right;
        border-top: 1px solid #ddd;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .text-center text-secondary my-5{
    color: var(--neutral-dark30) !important;
    font-family: var(--font-family-inter-regular) !important;
    font-size: var(--font-size-l) !important;
    font-style: normal !important;
        font-weight: 400 !important;
    }

</style>

<PageTitle>Campos Homologación</PageTitle>
<div class="general title" style="margin-top:0px !important">
    <h2 class="title headlineheadline2-h2">Administración de campos de Homologación</h2>
</div>

        <div class="form-group">
    <label for="grupoHomologacionSelect" class="label valign-text-middle inter-regular-normal-comet-16px">Grupo de Homologación</label>
    <select id="grupoHomologacionSelect" class="form-control inter-regular-normal-comet-14px" @onchange="OnAutoCompleteChangedHandler" style="margin-top: 2% !important; width: 338.8px !important;">
                <option value="" selected disabled>Seleccione Grupo de Homologación</option>
                @if (listaVwHomologacion != null)
                {
                    @foreach (var g in listaVwHomologacion)
                    {
                        <option value="@g.IdHomologacion">@g.MostrarWeb</option>
                    }
                }
            </select>
        </div>
    <div class="col-md-6">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
            @if (IsAdd)
            {
                @if (homologacionSelected != null)
                {
                    <p>
                        <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="@($"/nuevo-campos-homologacion/{homologacionSelected?.IdHomologacion}")">
                            <span>Agregar Registro</span>
                        </Button>
                    </p>
                }
            }
            
        </div>
    </div>


@* <div class="table table-1">
    <div class="table-heading table-1">
        <div class="table-heading-1 table-heading-10">
            <div class="header-label-1 header-label-4">
                <div class="label-heading headingheadline5-h5">Vista Código Homologado</div>
                <div class="frame-1000003808">
                    <img class="arrow_downward_alt" src="admin/img/arrow-downward-alt-1.svg" alt="arrow_downward_alt">
                </div>
            </div>
        </div>
        <div class="table-heading-1 table-heading-10">
            <div class="header-label-1 header-label-4">
                <div class="label-heading headingheadline5-h5">Texto a Mostrar en la Web</div>
                <div class="frame-1000003808">
                    <img class="arrow_downward_alt" src="admin/img/arrow-downward-alt-2.svg" alt="arrow_downward_alt">
                </div>
            </div>
        </div>
        <div class="table-heading-1 table-heading-10">
            <div class="header-label-1 header-label-4">
                <div class="label-heading headingheadline5-h5">Tooltip Web</div>
                <div class="frame-1000003808">
                    <img class="arrow_downward_alt" src="admin/img/arrow-downward-alt-3.svg" alt="arrow_downward_alt">
                </div>
            </div>
        </div>
        <div class="table-heading-1 table-heading-10">
            <div class="header-label-1 header-label-4">
                <div class="label-heading headingheadline5-h5">Tipo de Dato</div>
                <div class="frame-1000003808">
                    <img class="arrow_downward_alt" src="admin/img/arrow-downward-alt-4.svg" alt="arrow_downward_alt">
                </div>
            </div>
        </div>
        <div class="table-heading-1 table-heading-10">
            <div class="header-label-1 header-label-4">
                <div class="label-heading headingheadline5-h5">Si No Hay Dato</div>
                <div class="frame-1000003808">
                    <img class="arrow_downward_alt" src="admin/img/arrow-downward-alt-5.svg" alt="arrow_downward_alt">
                </div>
            </div>
        </div>
        <div class="table-heading-1 table-heading-10">
            <div class="header-label-1 header-label-4">
                <div class="label-heading headingheadline5-h5">Opciones</div>
            </div>
        </div>
    </div>

    @if (listaHomologacions != null && listaHomologacions.Any())
    {
        <div class="content content-2">
            @foreach (var homologacion in listaHomologacions)
            {
                <div class="row row-15">
                    <div class="componente">
                        <div class="row-1 row-15">
                            <div class="ads-rules-list">
                                <div class="landing-page"><div class="bodybody-small">@homologacion.NombreHomologado</div></div>
                                <div class="landing-page"><div class="bodybody-small">@homologacion.MostrarWeb</div></div>
                                <div class="landing-page"><div class="bodybody-small">@homologacion.TooltipWeb</div></div>
                                <div class="landing-page"><div class="bodybody-small">@homologacion.MascaraDato</div></div>
                                <div class="landing-page"><div class="bodybody-small">@homologacion.SiNoHayDato</div></div>
                                <div class="landing-page">
                                    <Tooltip Title="Editar registro">
                                        <Button Type="ButtonType.Link" Color="ButtonColor.Secondary" Outline="true"
                                                To="@($"/editar-campos-homologacion/{homologacionSelected?.IdHomologacion}/{homologacion.IdHomologacion}")"
                                                Size="ButtonSize.Small">
                                            <Icon Name="IconName.PencilSquare" />
                                        </Button>
                                    </Tooltip>
                                    <Tooltip Title="Eliminar registro">
                                        <Button Color="ButtonColor.Danger" Outline="true" Size="ButtonSize.Small" @onclick=@(() => OpenDeleteModal(homologacion.IdHomologacion))>
                                            <Icon Name="IconName.Trash3" />
                                        </Button>
                                    </Tooltip>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No hay datos disponibles.</p>
    }
</div> *@

<style>
    .general.table {
        width: 100%;
        table-layout: fixed;
    }

        .general.table th,
        .general.table td {
            width: auto; /* Distribuye equitativamente el ancho */
            text-align: left;
            white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
            min-width: 150px; /* Asegura que cada columna tenga un tamaño mínimo */
        }

        .general.table tbody {
            width: 100%;
            display: table; /* Permite que el tbody ocupe todo el ancho */
            table-layout: fixed;
        }
</style>

<div class="general table">
    <Grid Id="sortableGrid"
          @ref="grid"
          TItem="HomologacionDto"
          class="table table-hover table-bordered table-striped striped-table"
          DataProvider="HomologacionDataProvider"
          Responsive="true"
          AllowFiltering="true"
          Style="width:100%;">

        <GridColumn TItem="HomologacionDto" HeaderText="Vista Código Homologado" PropertyName="NombreHomologado" Class="cell-text cell-1 bodybody-small">
            @(string.IsNullOrWhiteSpace(context.NombreHomologado) ? "-" : context.NombreHomologado)
            <input type="hidden" value="@context.IdHomologacion" />
        </GridColumn>

        <GridColumn TItem="HomologacionDto" HeaderText="Texto a Mostrar en la Web" PropertyName="MostrarWeb" Class="cell-text cell-1 bodybody-small">
            @(string.IsNullOrWhiteSpace(context.MostrarWeb) ? "-" : context.MostrarWeb)
            <input type="hidden" value="@context.IdHomologacion" />
        </GridColumn>

        <GridColumn TItem="HomologacionDto" HeaderText="Tooltip Web" PropertyName="TooltipWeb" Class="cell-text cell-1 bodybody-small">
            @(string.IsNullOrWhiteSpace(context.TooltipWeb) ? "-" : context.TooltipWeb)
        </GridColumn>

        <GridColumn TItem="HomologacionDto" HeaderText="Tipo de Dato" PropertyName="MascaraDato" Class="cell-text cell-1 bodybody-small">
            @(string.IsNullOrWhiteSpace(context.MascaraDato) ? "-" : context.MascaraDato)
        </GridColumn>

        <GridColumn TItem="HomologacionDto" HeaderText="Si No Hay Dato" PropertyName="SiNoHayDato" Class="cell-text cell-1 bodybody-small">
            @(string.IsNullOrWhiteSpace(context.SiNoHayDato) ? "-" : context.SiNoHayDato)
        </GridColumn>

        <GridColumn TItem="HomologacionDto" HeaderText="Opciones">
            <!-- Botón Editar -->
            <Tooltip Title="Editar registro">
                <Button Type="ButtonType.Link" Color="ButtonColor.Secondary" Outline="true" To="@($"/editar-campos-homologacion/{homologacionSelected.IdHomologacion}/{context.IdHomologacion}")" Size="ButtonSize.Small">
                    <Icon Name="IconName.PencilSquare" />
                </Button>
            </Tooltip>

            <!-- Botón Eliminar -->
            <Tooltip Title="Eliminar registro">
                <Button Color="ButtonColor.Danger" Outline="true" Size="ButtonSize.Small" @onclick=@(() => OpenDeleteModal(context.IdHomologacion))>
                    <Icon Name="IconName.Trash3" />
                </Button>
            </Tooltip>
        </GridColumn>

    </Grid>
</div>



@*         <div class="general table">
        <Grid Id="sortableGrid"
              @ref="grid"
              TItem="HomologacionDto"
              class="table table-hover table-bordered table-striped striped-table"
              DataProvider="HomologacionDataProvider"
              Responsive="true"
              AllowFiltering="true">
        <GridColumn TItem="HomologacionDto" HeaderText="Vista Código Homologado" PropertyName="NombreHomologado" Class="bodybody-small">
                @context.NombreHomologado
                <input type="hidden" value="@context.IdHomologacion" />
            </GridColumn>
            <GridColumn TItem="HomologacionDto" HeaderText="Texto a Mostrar en la Web" PropertyName="MostrarWeb" Class="bodybody-small">
                @context.MostrarWeb
                <input type="hidden" value="@context.IdHomologacion" />
            </GridColumn>
            <GridColumn TItem="HomologacionDto" HeaderText="Tooltip Web" PropertyName="TooltipWeb" Class="bodybody-small">
                @context.TooltipWeb
            </GridColumn>
            <GridColumn TItem="HomologacionDto" HeaderText="Tipo de Dato" PropertyName="MascaraDato" Class="bodybody-small">
                @context.MascaraDato
            </GridColumn>
        <GridColumn TItem="HomologacionDto" HeaderText="Si No Hay Dato" PropertyName="SiNoHayDato" Class="bodybody-small">
                @context.SiNoHayDato
            </GridColumn>
            <GridColumn TItem="HomologacionDto" HeaderText="Opciones">
                    <!-- Botón Editar -->
                    <Tooltip Title="Editar registro">
                    <Button Type="ButtonType.Link" Color="ButtonColor.Secondary" Outline="true" To="@($"/editar-campos-homologacion/{homologacionSelected.IdHomologacion}/{context.IdHomologacion}")" Size="ButtonSize.Small">
                            <Icon Name="IconName.PencilSquare" />
                        </Button>
                    </Tooltip>

                    <!-- Botón Eliminar -->
                    <Tooltip Title="Eliminar registro">
                    <Button Color="ButtonColor.Danger" Outline="true" Size="ButtonSize.Small" @onclick=@(() => OpenDeleteModal(context.IdHomologacion))>
                        <Icon Name="IconName.Trash3" />
                    </Button>
                    </Tooltip>
             </GridColumn>
        </Grid>
        </div>
 *@
@if (showModal)
{
    <div class="modal show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" aria-label="Close"
                            @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <p class="label valign-text-middle inter-regular-normal-comet-14px">¿Está seguro que desea eliminar este registro?</p>
                </div>
                <div class="modal-footer">
                    <Button Color="ButtonColor.Danger" @onclick=@(() => ConfirmDelete())>Eliminar</Button>
                    <Button Color="ButtonColor.Secondary" @onclick=@(() => CloseModal())>Cancelar</Button>
                </div>
            </div>
        </div>
    </div>
}