@page "/validacion"
@layout AdminLayout
@using SharedApp.Models.Dtos

<PageTitle>Homologación</PageTitle>

<h1 class="title headlineheadline2-h2">Validación de Campos</h1>

<div class="row py-2">
    <div class="col-md-4">
        <div>
            <label class="label valign-text-middle inter-regular-normal-comet-16px">Ona</label>
        </div>
        <select id="onaSelect" class="form-control inter-regular-normal-comet-14px" @onchange="CambiarSeleccionOna" style="margin-top: 2% !important;">
            <option value="" selected disabled>Seleccionar Ona</option>
            @if (listaONAs != null)
            {
                @foreach (var opcion in listaONAs)
                {
                    <option value="@opcion.IdONA">@opcion.Siglas</option>
                }
            }
        </select>
    </div>
    <div class="col-md-4">
        <div>
            <label class="label valign-text-middle inter-regular-normal-comet-16px">Esquemas</label>
        </div>
        <div class="form-group" style="margin-top: 2% !important;">
            <div class="form-group">
                @* <select id="esquemaSelect" class="form-control inter-regular-normal-comet-14px" @onchange="HandleEsquemaSelectionChange">
                    <option value="" selected disabled>Seleccionar ESQ</option>
                    @if (listaEsquemasOna != null)
                    {
                        @foreach (var opcion in listaEsquemasOna)
                        {
                            <option value="@opcion.IdEsquema">
                                @if (NombresVistas != null && NombresVistas.Any(c => c.Equals(opcion.MostrarWeb)))
                                {
                                    <Icon Name="IconName.Check" />
                                }
                                @opcion.MostrarWeb
                            </option>
                        }
                    }
                </select> *@
                <select id="esquemaSelect" class="form-control inter-regular-normal-comet-14px"
                        @onchange="async (e) => await HandleEsquemaSelectionChange(e)">
                    <option value="" selected disabled>Seleccionar ESQ</option>
                    @if (listaEsquemasOna != null)
                    {
                        @foreach (var opcion in listaEsquemasOna)
                        {
                            <option value="@opcion.IdEsquema">
                                @if (NombresVistas != null && NombresVistas.Any(c => c.Equals(opcion.MostrarWeb)))
                                {
                                    <Icon Name="IconName.Check" />
                                }
                                @opcion.MostrarWeb
                            </option>
                        }
                    }
                </select>

            </div>

        </div>

    </div>
    <div class="col-md-4">
        <div>
            <label class="label valign-text-middle inter-regular-normal-comet-16px">Vista Origen</label>
        </div>
        <input type="text" class="form-control inter-regular-normal-comet-14px" placeholder="" @bind="nombreSugerido" style="margin-top: 2% !important;" />
    </div>
    
    @* <div class="col-md-12 py-2">
        <Grid @ref="grid" TItem="EsquemaVistaDto" class="table table-hover table-bordered table-striped" DataProvider="EsquemaVistaDataProvider" Responsive="true">
            <!-- Columna de solo lectura -->
            <GridColumn TItem="EsquemaVistaDto" HeaderText="Nombre Campo Esquema" PropertyName="NombreEsquema">
                <DisplayTemplate>
                    @context.NombreEsquema
                </DisplayTemplate>
            </GridColumn>
            
            <!-- Columna habilitada para edición -->
            <GridColumn TItem="EsquemaVistaDto" HeaderText="Nombre Campo Vista" PropertyName="NombreVista">
                <EditorTemplate>
                    <input class="form-control" @bind="context.NombreVista" disabled="@enabledCeldas" />
                </EditorTemplate>
            </GridColumn>
            
            <!-- Columna de solo lectura -->
            <GridColumn TItem="EsquemaVistaDto" HeaderText="Existe" PropertyName="IsValid">
                <DisplayTemplate>
                    @context.IsValid
                </DisplayTemplate>
            </GridColumn>
        </Grid>
    </div> *@
    
</div>

<div class="col-md-2 py-2 text-end" style="margin-left: auto !important;">
        @if (listasHevd?.Count > 0) 
        {
            @*<Button @ref="saveButton" style="display: none;" Color="ButtonColor.Success" @onclick="async () => await GuardarCambios()">
                Guardar
            </Button> *@
            @* <Button @ref="validateButton" Color="ButtonColor.Success" @onclick="async () => await ValidarDatos()">
                Validar y Guardar
            </Button> *@
            <div class="save-button-container">
            <Button @ref="saveButton" style="display: none;" class="button-2" @onclick="async () => await GuardarCambios()"><div class="button-3 headingheadline4-h4">Guardar</div></Button>
            </div>
            <div class="save-button-container">
            <Button @ref="validateButton" class="button-2" @onclick="async () => await ValidarDatos()"><div class="button-3 headingheadline4-h4">Validar y Guardar</div></Button>
            </div>
        }
    </div>
<div class="table table-1">
    <div class="table-heading table-1">
        <div class="table-heading-1 table-heading-10" style="width:50% !important">
            <div class="header-label-1 header-label-4">
                <div class="label-heading headingheadline5-h5">Nombre Campo Esquema</div>
                <div class="frame-1000003808">
                    <img class="arrow_downward_alt" src="admin/img/arrow-downward-alt-1.svg" alt="arrow_downward_alt">
                </div>
            </div>
        </div>
        <div class="table-heading-1 table-heading-10" style="width:50% !important">
            <div class="header-label-1 header-label-4">
                <div class="label-heading headingheadline5-h5">Nombre Campo Vista</div>
                <div class="frame-1000003808">
                    <img class="arrow_downward_alt" src="admin/img/arrow-downward-alt-2.svg" alt="arrow_downward_alt">
                </div>
            </div>
        </div>
        <div class="table-heading-1 table-heading-10" style="width:20% !important">
            <div class="header-label-1 header-label-4">
                <div class="label-heading headingheadline5-h5">Existe</div>
                <div class="frame-1000003808">
                    <img class="arrow_downward_alt" src="admin/img/arrow-downward-alt-3.svg" alt="arrow_downward_alt">
                </div>
            </div>
        </div>
    </div>

    @if (listasHevd != null && listasHevd.Any())
    {
        <div class="content content-2">
            @foreach (var esquema in listasHevd)
            {
                <div class="row row-15">
                    <div class="componente">
                        <div class="row-1 row-15">
                            <div class="ads-rules-list">
                                <div class="landing-page" style="width:50% !important"><div class="bodybody-small">@esquema.NombreEsquema</div></div>
                                <div class="landing-page" style="width:50% !important">
                                    <input class="form-control inter-regular-normal-comet-14px" @bind="esquema.NombreVista" disabled="@enabledCeldas" />
                                </div>
                                <div class="landing-page" style="width:23% !important"><div class="bodybody-small">@esquema.IsValid</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No hay datos disponibles.</p>
    }
</div>


