@page "/validacion"
@layout AdminLayout
@using SharedApp.Models.Dtos

<PageTitle>Homologación</PageTitle>

<h1 class="title headlineheadline2-h2">Validación de Campos</h1>

<div class="row py-2">
    <div class="col-md-4">
        <div>
            <label class="col-form-label">Ona</label>
        </div>
        <select id="onaSelect" class="form-control" @onchange="CambiarSeleccionOna">
            <option value="" selected disabled>Seleccionar Ona</option>
            @if (listaONAs != null)
            {
                @foreach (var opcion in listaONAs)
                {
                    <option value="@opcion.IdONA">@opcion.Siglas</option>
                }
            }
        </select>
    </div>
    <div class="col-md-4">
        <div>
            <label class="col-form-label">Esquemas</label>
        </div>
        <div class="form-group">
            <div class="form-group">
                <select id="esquemaSelect" class="form-control" @onchange="HandleEsquemaSelectionChange">
                    <option value="" selected disabled>Seleccionar ESQ</option>
                    @if (listaEsquemasOna != null)
                    {
                        @foreach (var opcion in listaEsquemasOna)
                        {
                            <option value="@opcion.IdEsquema">
                                @if (NombresVistas != null && NombresVistas.Any(c => c.Equals(opcion.MostrarWeb)))
                                {
                                    <Icon Name="IconName.Check" />
                                }
                                @opcion.MostrarWeb
                            </option>
                        }
                    }
                </select>
            </div>

        </div>

    </div>
    <div class="col-md-4">
        <div>
            <label class="col-form-label">Vista Origen</label>
        </div>
        <input type="text" class="form-control" placeholder="" @bind="nombreSugerido" />
    </div>
    <div class="col-md-12 py-2">
        <Grid @ref="grid" TItem="EsquemaVistaDto" class="table table-hover table-bordered table-striped" DataProvider="EsquemaVistaDataProvider" Responsive="true">
            <!-- Columna de solo lectura -->
            <GridColumn TItem="EsquemaVistaDto" HeaderText="Nombre Campo Esquema" PropertyName="NombreEsquema">
                <DisplayTemplate>
                    @context.NombreEsquema
                </DisplayTemplate>
            </GridColumn>
            
            <!-- Columna habilitada para edición -->
            <GridColumn TItem="EsquemaVistaDto" HeaderText="Nombre Campo Vista" PropertyName="NombreVista">
                <EditorTemplate>
                    <input class="form-control" @bind="context.NombreVista" disabled="@enabledCeldas" />
                </EditorTemplate>
            </GridColumn>
            
            <!-- Columna de solo lectura -->
            <GridColumn TItem="EsquemaVistaDto" HeaderText="Existe" PropertyName="IsValid">
                <DisplayTemplate>
                    @context.IsValid
                </DisplayTemplate>
            </GridColumn>
        </Grid>
    </div>
    <div class="col-md-12 py-2 text-end">
        @if (listasHevd?.Count > 0) 
        {
@*             <Button @ref="saveButton" style="display: none;" Color="ButtonColor.Success" @onclick="async () => await GuardarCambios()">
                Guardar
            </Button> *@
            <Button @ref="validateButton" Color="ButtonColor.Success" @onclick="async () => await ValidarDatos()">
                Validar y Guardar
            </Button>
        }
    </div>
</div>


