@page "/validacion"
@layout AdminLayout
@using SharedApp.Models.Dtos

<PageTitle>Homologación</PageTitle>

<h3>Validación de Campos</h3>

<div class="row py-2">
    <div class="col-md-6">
        <div>
            <label class="col-form-label">Organización</label>
        </div>
        <Dropdown AutoClose="true">
            <DropdownToggleButton Color="ButtonColor.Secondary">
                @if (organizacionSelected?.MostrarWeb != null)
                {
                    @organizacionSelected.MostrarWeb
                }
                else
                {
                    <span>Seleccionar ORG</span>
                }
            </DropdownToggleButton>
            <DropdownMenu>
                @if (listaOrganizaciones != null)
                {
                    @foreach(var opcion in listaOrganizaciones) {
                        <DropdownItem
                            @onclick="async () => await CambiarSeleccionOrganizacion(opcion)"
                        >
                            @opcion.MostrarWeb
                        </DropdownItem>
                    }
                }
            </DropdownMenu>
        </Dropdown>
    </div>
    <div class="col-md-6">
        <div>
            <label class="col-form-label">Esquemas</label>
        </div>
        <Dropdown AutoClose="true">
            <DropdownToggleButton Color="ButtonColor.Secondary">
                @if (esquemaSelected?.MostrarWeb != null)
                {
                    @esquemaSelected.MostrarWeb
                }
                else
                {
                    <span>Seleccionar ESQ</span>
                }
            </DropdownToggleButton>
            <DropdownMenu>
                @if (listaHomologacionEsquemas != null)
                {
                    @foreach(var opcion in listaHomologacionEsquemas) {
                        <DropdownItem
                            @onclick="() => CambiarSeleccionEsquema(opcion)"
                        >
                            @opcion.MostrarWeb
                        </DropdownItem>
                    }
                }
            </DropdownMenu>
        </Dropdown>
    </div>
    <div class="col-md-12 py-2">
        <Grid @ref="grid" TItem="EsquemaVista" class="table table-hover table-bordered table-striped" DataProvider="EsquemaVistaDataProvider" Responsive="true">
            <GridColumn TItem="EsquemaVista" HeaderText="Nombre Campo Esquema" PropertyName="NombreEsquema">
                @context.NombreEsquema
            </GridColumn>
            <GridColumn TItem="EsquemaVista" HeaderText="Nombre Campo Vista" PropertyName="NombreVista">
                @context.NombreVista
            </GridColumn>
            <GridColumn TItem="EsquemaVista" HeaderText="Existe" PropertyName="IsValid">
                @context.IsValid
            </GridColumn>
        </Grid>
    </div>
</div>