@page "/onas"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization;
@using SharedApp.Models.Dtos;
@attribute [Authorize]


<div class="card">
    <!-- Card Header -->
    <div class="card-header">
        <h2>Administración de ONA</h2>
    </div>
    <div class="text-end my-3" style="margin-right: 1%;">
        <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/nuevo-ona">Agregar Registro</Button>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="table-responsive">
            <Grid TItem="OnaDto" class="table table-hover table-bordered table-striped striped-table" DataProvider="ONAsDataProvider" @ref="grid" Responsive="true">
                <GridColumn TItem="OnaDto" HeaderText="Razon Social" PropertyName="RazonSocial">
                    @context.RazonSocial
                </GridColumn>
                <GridColumn TItem="OnaDto" HeaderText="Siglas" PropertyName="Siglas">
                    @context.Siglas
                </GridColumn>
                <GridColumn TItem="OnaDto" HeaderText="Ciudad" PropertyName="Ciudad">
                    @context.Ciudad
                </GridColumn>
                <GridColumn TItem="OnaDto" HeaderText="Correo" PropertyName="Correo">
                    @context.Correo
                </GridColumn>
                <GridColumn TItem="OnaDto" HeaderText="Dirección" PropertyName="Direccion">
                    @context.Direccion
                </GridColumn>
                <GridColumn TItem="OnaDto" HeaderText="Página Web" PropertyName="PaginaWeb">
                    @context.PaginaWeb
                </GridColumn>
                <GridColumn TItem="OnaDto" HeaderText="Teléfono" PropertyName="Telefono">
                    @context.Telefono
                </GridColumn>
                <GridColumn TItem="OnaDto" HeaderText="Opciones">
                    <!-- Botón Editar -->
                    <Tooltip Title="Editar registro">
                        <Button Type="ButtonType.Link" Color="ButtonColor.Secondary" Outline="true"
                                To="@($"/editar-ona/{context.IdONA}")" Size="ButtonSize.Small">
                            <Icon Name="IconName.PencilSquare" />
                        </Button>
                    </Tooltip>
               
                    <!-- Botón Eliminar -->
                    <Tooltip Title="Eliminar registro">
                        <Button @ref="saveButton" Type="ButtonType.Button" Color="ButtonColor.Danger" Outline="true"
                                Size="ButtonSize.Small" @onclick=@(() => OpenDeleteModal(context.IdONA))>
                            <Icon Name="IconName.Trash" />
                        </Button>
                    </Tooltip>                  
                </GridColumn>
            </Grid>
        </div>
    </div>
   
</div>

 @if (showModal)
{
    <div class="modal show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" aria-label="Close"
                            @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar este registro?</p>
                </div>
                <div class="modal-footer">
                    <Button Color="ButtonColor.Danger" @onclick=@(() => ConfirmDelete())>Eliminar</Button>
                    <Button Color="ButtonColor.Secondary" @onclick=@(() => CloseModal())>Cancelar</Button>
                </div>
            </div>
        </div>
    </div>
}