@page "/conexion"
@layout AdminLayout
@using SharedApp.Models.Dtos

@if (IsLoading)
{
    <div class="overlay">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
        <div class="progress mt-2" style="width: 100%;">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: @ProgressValue%;" aria-valuenow="@ProgressValue" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>Procesando migración, por favor espere...</p>
    </div>
}


<Toasts class="p-3" Messages="messages" Placement="@toastsPlacement" />
<PageTitle>Homologación</PageTitle>
<Toasts class="p-3" Messages="messages" Placement="@toastsPlacement" />
<div class="">
    <div class="general title">
        <h2 class="title headlineheadline2-h2">Validación de Campos</h2>
    </div>
    <div class="text-end my-3" style="margin-right: 1%;">
        <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/nuevo-conexion">Agregar Registro</Button>
    </div>
    <div class="general table">
        <Grid @ref="grid" TItem="ONAConexionDto" class="table table-hover table-bordered table-striped" DataProvider="ConexionDtoDataProvider" Responsive="true">
            <GridColumn TItem="ONAConexionDto" HeaderText="Host">
                @context.Host
            </GridColumn>
            <GridColumn TItem="ONAConexionDto" HeaderText="Puerto" PropertyName="Puerto">
                @context.Puerto
            </GridColumn>
            <GridColumn TItem="ONAConexionDto" HeaderText="Usuario" PropertyName="Usuario">
                @context.Usuario
            </GridColumn>
            <GridColumn TItem="ONAConexionDto" HeaderText="Base Datos" PropertyName="BaseDatos">
                @context.BaseDatos
            </GridColumn>
            <GridColumn TItem="ONAConexionDto" HeaderText="Origen Datos" PropertyName="OrigenDatos">
                @context.OrigenDatos
            </GridColumn>
            <GridColumn TItem="ONAConexionDto" HeaderText="Migrar" PropertyName="Migrar">
                @context.Migrar
            </GridColumn>
            <GridColumn TItem="ONAConexionDto" HeaderText="Estado" PropertyName="Estado">
                @context.Estado
            </GridColumn>
            <GridColumn TItem="ONAConexionDto" HeaderText="Probar Conexion">
                @if (context.OrigenDatos != "EXCEL")
                {
                    <Button Color="ButtonColor.Info" Outline="true" @onclick="async () => await OnTestconexionClick(context.IdONA)" Size="ButtonSize.Small">
                        <Icon Name="IconName.RCircle" />
                    </Button>
                }
            </GridColumn>

            <GridColumn TItem="ONAConexionDto" HeaderText="Migracion">
                @if (context.OrigenDatos != "EXCEL")
                {
                    <Button Color="ButtonColor.Info" Outline="true" @onclick="async () => await OnMigrarClick(context.IdONA)" Size="ButtonSize.Small">
                        <Icon Name="IconName.DatabaseAdd" />
                    </Button>
                }
            </GridColumn>
            @*   <GridColumn TItem="ONAConexionDto" HeaderText="Eliminar conexion">
            <Button Color="ButtonColor.Danger" Outline="true" @onclick="async () => await OnDeleteConexionClick(context.IdONA)" Size="Size.Small">
            <Icon Name="IconName.Trash3" />
            </Button>
            </GridColumn> *@
            <GridColumn TItem="ONAConexionDto" HeaderText="Editar">
                <Button Type="ButtonType.Link" Color="ButtonColor.Secondary" Outline="true" To="@($"/editar-conexion/{context.IdONA}")" Size="ButtonSize.Small">
                    <Icon Name="IconName.PencilSquare" />
                </Button>
            </GridColumn>
            <GridColumn TItem="ONAConexionDto" HeaderText="Eliminar">
                <Button Color="ButtonColor.Danger" Outline="true" @onclick="async () => await OnDeleteClick(context.IdONA)" Size="ButtonSize.Small">
                    <Icon Name="IconName.Trash3" />
                </Button>
            </GridColumn>
        </Grid>
    </div>
</div>

