@page "/grupos"
@layout AdminLayout
@using SharedApp.Models.Dtos


<PageTitle>Homologaci贸n</PageTitle>

<div class="general title">
    <h2 class="title headlineheadline2-h2">Administaci贸n de Entidades</h2>
</div>

<div class="tabla-1 tabla-2">
    <div class="table-heading table-1">
        <div class="table-heading-1 table-heading-11" style="width:50% !important">
            <div class="header-label-1 header-label-4">
                <div class="label-heading headingheadline5-h5">Texto a Mostrar en la Web</div>
                <div class="frame-1000003808">
                    <img class="arrow_downward_alt" src="admin/img/arrow-downward-alt-1.svg" alt="arrow_downward_alt">
                </div>
            </div>
        </div>
        <div class="table-heading-1 table-heading-11" style="width:50% !important">
            <div class="header-label-1 header-label-4">
                <div class="label-heading headingheadline5-h5">Tooltip Web</div>
                <div class="frame-1000003808">
                    <img class="arrow_downward_alt" src="admin/img/arrow-downward-alt-2.svg" alt="arrow_downward_alt">
                </div>
            </div>
        </div>
        <div class="table-heading-1 table-heading-11" style="width:20% !important">
            <div class="header-label-1 header-label-4">
                <div class="label-heading headingheadline5-h5">Editar</div>
            </div>
        </div>
    </div>

    @if (listaHomologacions != null && listaHomologacions.Any())
    {
        <div class="content content-2">
            @foreach (var homologacion in listaHomologacions)
            {
                <div class="row row-15">
                    <div class="componente">
                        <div class="row-1 row-15">
                            <div class="ads-rules-list @(homologacion.MostrarWebOrden == 1 ? "table-primary" : "")">
                                <div class="landing-page" style="width:50% !important"><div class="bodybody-small">@homologacion.MostrarWeb</div></div>
                                <div class="landing-page" style="width:50% !important"><div class="bodybody-small">@homologacion.TooltipWeb</div></div>
                                <div class="landing-page" style="width:20% !important">
                                    <Tooltip Title="Editar registro">
                                        <Button Type="ButtonType.Link" Color="ButtonColor.Secondary" Outline="true" To="@($"/editar-grupos/{homologacion.IdHomologacion}")" Size="ButtonSize.Small">
                                            <Icon Name="IconName.PencilSquare" />
                                        </Button>
                                    </Tooltip>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No hay datos disponibles.</p>
    }
</div>

    @* <div class="general table">
        <Grid @ref="grid" TItem="HomologacionDto" class="table table-hover table-bordered table-striped" DataProvider="HomologacionDataProvider" Responsive="true" Id="sortableGrid">
            <GridColumn TItem="HomologacionDto" HeaderText="Texto a Mostrar en la Web" PropertyName="MostrarWeb" ColumnClass="@(x => x.MostrarWebOrden == 1 ? "table-primary" : "")">
                @context.MostrarWeb
                <input type="hidden" value="@context.IdHomologacion" />
            </GridColumn>
            <GridColumn TItem="HomologacionDto" HeaderText="Tooltip Web" PropertyName="TooltipWeb" ColumnClass="@(x => x.MostrarWebOrden == 1 ? "table-primary" : "")">
                @context.TooltipWeb
            </GridColumn>
            <GridColumn TItem="HomologacionDto" HeaderText="Opciones" ColumnClass="@(x => x.MostrarWebOrden == 1 ? "table-primary" : "")">
                <Tooltip Title="Editar registro">
                    <Button Type="ButtonType.Link" Color="ButtonColor.Secondary" Outline="true" To="@($"/editar-grupos/{context.IdHomologacion}")" Size="ButtonSize.Small">
                        <Icon Name="IconName.PencilSquare" />
                    </Button>
                </Tooltip>
            </GridColumn>
        </Grid>
    </div> *@


<div class="form-row py-2">
    <Alert Color="AlertColor.Secondary" Dismissable="false">
        <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>
        <span class="text-white">Registro para organizaci贸n l贸gico [No es filtro]</span>
    </Alert>
</div>