@page "/grupos"
@layout AdminLayout
@using SharedApp.Models.Dtos

<PageTitle>Homologaci贸n</PageTitle>

<div class="card">
    <div class="card-header">
        <h3>Administaci贸n de Entidades</h3>
    </div>
    <div class="card-body">
        <Grid @ref="grid" TItem="HomologacionDto" class="table table-hover table-bordered table-striped" DataProvider="HomologacionDataProvider" Responsive="true" Id="sortableGrid">
            <GridColumn TItem="HomologacionDto" HeaderText="Texto a Mostrar en la Web" PropertyName="MostrarWeb" ColumnClass="@(x => x.MostrarWebOrden == 1 ? "table-primary" : "")">
                @context.MostrarWeb
                <input type="hidden" value="@context.IdHomologacion" />
            </GridColumn>
            <GridColumn TItem="HomologacionDto" HeaderText="Tooltip Web" PropertyName="TooltipWeb" ColumnClass="@(x => x.MostrarWebOrden == 1 ? "table-primary" : "")">
                @context.TooltipWeb
            </GridColumn>
            <GridColumn TItem="HomologacionDto" HeaderText="Opciones" ColumnClass="@(x => x.MostrarWebOrden == 1 ? "table-primary" : "")">
                <Tooltip Title="Editar registro">
                    <Button Type="ButtonType.Link" Color="ButtonColor.Secondary" Outline="true" To="@($"/editar-grupos/{context.IdHomologacion}")" Size="Size.Small">
                        <Icon Name="IconName.PencilSquare" />
                    </Button>
                </Tooltip>
            </GridColumn>
        </Grid>
    </div>
</div>

<div class="form-row py-2">
    <Alert Color="AlertColor.Secondary" Dismissable="false">
        <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>
        <span class="text-white">Registro para organizaci贸n l贸gico [No es filtro]</span>
    </Alert>
</div>