@page "/usuarios"
@layout AdminLayout
@using Blazored.LocalStorage
@using BlazorBootstrap
@using Microsoft.AspNetCore.Authorization
@using SharedApp.Models.Dtos
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager

<style>
    .striped-table tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    .striped-table tbody tr:nth-child(even) {
        background-color: #ffffff;
    }

    .card {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        margin: 20px 0;
    }

    .card-header {
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .card-body {
        padding: 15px;
    }

    .card-footer {
        background-color: #f8f9fa;
        padding: 10px 15px;
        text-align: right;
        border-top: 1px solid #ddd;
    }

    .table-responsive {
        overflow-x: auto;
    }
</style>

<PageTitle>Usuarios</PageTitle>
<div class="card">
    <!-- Card Header -->
    <div class="card-header">
        <h2>Administración de Usuarios</h2>
    </div>

    <!-- Botón Nuevo -->
    @if (!isRolRead)
    {
        <div class="text-end my-3" style="margin-right: 1%;">
            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/nuevo-usuario">Nuevo Usuario</Button>
        </div>
    }
    @* <!-- Card Header -->
    <div class="card-header">
        <h2>Administración de Usuarios</h2>
    </div> *@

    <!-- Card Body -->
    <div class="card-body">
        <div class="table-responsive">
            <Grid TItem="UsuarioDto" class="table table-hover table-bordered table-striped striped-table" DataProvider="UsuariosDataProvider" @ref="grid" Responsive="true">
                <GridColumn TItem="UsuarioDto" HeaderText="Nombre" PropertyName="Nombre">
                    @context.Nombre
                </GridColumn>
                <GridColumn TItem="UsuarioDto" HeaderText="Apellido" PropertyName="Apellido">
                    @context.Apellido
                </GridColumn>
                <GridColumn TItem="UsuarioDto" HeaderText="Teléfono" PropertyName="Telefono">
                    @context.Telefono
                </GridColumn>
                <GridColumn TItem="UsuarioDto" HeaderText="Email" PropertyName="Email">
                    @context.Email
                </GridColumn>
                <GridColumn TItem="UsuarioDto" HeaderText="Rol" PropertyName="IdHomologacionRol">
                    @context.Rol
                </GridColumn>
                <GridColumn TItem="UsuarioDto" HeaderText="Razón Social" PropertyName="idOna">
                    @context.RazonSocial
                </GridColumn>
                <GridColumn TItem="UsuarioDto" HeaderText="Estado" PropertyName="Estado">
                    @context.Estado
                </GridColumn>
                <GridColumn TItem="UsuarioDto" HeaderText="Opciones">
                    <!-- Botón Editar -->
                    <Tooltip Title="Editar registro">
                        <Button Type="ButtonType.Link" Color="ButtonColor.Secondary" Outline="true" Size="Size.Small" Disabled="isRolRead"
                                @onclick=@(() => EditarUsuario(context))>
                            <Icon Name="IconName.PencilSquare" />
                        </Button>
                    </Tooltip>

                    <!-- Botón Eliminar -->
                    <Tooltip Title="Eliminar registro">
                        <Button @ref="saveButton" Type="ButtonType.Button" Color="ButtonColor.Danger" Outline="true" Disabled="isRolRead"
                                Size="Size.Small" @onclick=@(() => OpenDeleteModal(context.IdUsuario))>
                            <Icon Name="IconName.Trash" />
                        </Button>
                    </Tooltip>
                </GridColumn>
            </Grid>
        </div>
    </div>

    @* @if (!isRolRead)
    {
        <!-- Card Footer -->
        <div class="card-footer">
            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/nuevo-usuario">Nuevo</Button>
        </div>
    } *@

</div>

 @if (showModal)
{
    <div class="modal show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" aria-label="Close"
                            @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar este registro?</p>
                </div>
                <div class="modal-footer">
                    <Button Color="ButtonColor.Danger" @onclick=@(() => ConfirmDelete())>Eliminar</Button>
                    <Button Color="ButtonColor.Secondary" @onclick=@(() => CloseModal())>Cancelar</Button>
                </div>
            </div>
        </div>
    </div>
}

