@using ClientApp.Models;
@using SharedApp.Models.Dtos

@if(Columnas != null) {
    <Grid TItem="DataHomologacionEsquema" class="table table-hover table-bordered table-striped" DataProvider="HomologacionEsquemasDataProvider" Responsive="true" FixedHeader="true" Height="350" Style="font-family: 'Inter-Medium', Helvetica, sans-serif !important; font-size: 10px !important;">
        @foreach(var item in Columnas) {
            <GridColumn TItem="DataHomologacionEsquema" PropertyName="@item.MostrarWeb">
                <HeaderContent>
                    <Tooltip Title="@item.TooltipWeb"><span style="font-weight: bold;">@item.MostrarWeb</span> </Tooltip>
                </HeaderContent>
                <ChildContent>
                    @{
                        var dato = context?.DataEsquemaJson?.FirstOrDefault(f => f.IdHomologacion == item.IdHomologacion)?.Data;
                    }
                    @if (dato != null && (item.IdHomologacion == 64 || item.IdHomologacion == 72 || item.IdHomologacion == 73))
                    {
                         <!-- Extraemos solo la fórmula -->
                         string formulaExtraida = ExtraerFormula(dato);
                        //string formulaExtraida = ExtraerFormula(@"$$2 \times\sqrt{3.70 \times 10^{-9} \times R^2 + 1.76 \times 10^{-7}}$$");
                        <!-- Renderizamos la fórmula LaTeX -->
                        <span class="latex-formula">@((MarkupString)$"\\( {formulaExtraida} \\)")</span>
                    }
                    else
                    {
                    <!-- Renderizamos texto normal -->
                        @((MarkupString)dato)
                    }
                </ChildContent>
            </GridColumn>
        }
    </Grid>
}