<link href="/css/buscador-can/index-card.css" rel="stylesheet">

<div class="panel-index-card">
    @if (listaEtiquetasGrilla != null)
    {
    <div class="index-card">
        <Modal @ref="modal" Size="ModalSize.ExtraLarge" />
        <div class="row">
                <div class="col-md-4">
                    <GoogleMap @ref="@mapa"
                            ApiKey="@ApiKey"
                            Center="mapCenter"
                            Height="800"
                            Width="100"
                            Zoom="4"
                            Markers="markers" />
                </div>

            <!-- Columna de tarjetas (70%) -->
            <div class="col-md-8">
                <div class="row">
                    @if (ListDataDto != null && ListDataDto.Any())
                    {
                        @foreach (var item in ListDataDto)
                        {
                            <div class="col-md-6 mb-4">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <!-- Ícono ONA a la izquierda -->
                                            <div class="col-auto d-flex flex-column align-items-center align-self-start">
                                                <Button @onclick="() => showModalOna(item)">
                                                    <img src="@(iconUrls.ContainsKey(item.IdONA.GetValueOrDefault())
                                                        ? iconUrls[item.IdONA.GetValueOrDefault()]
                                                        : "https://via.placeholder.com/40")"
                                                        alt="Icono ONA"
                                                        class="img-fluid"
                                                        style="width: 40px; height: 40px;">
                                                </Button>
                                            </div>

                                            <!-- Contenido principal con dos columnas -->
                                            <div class="col">
                                                @{
                                                    var mitad = (int)Math.Ceiling(listaEtiquetasGrilla.Count / 2.0);
                                                    var primeraMitad = listaEtiquetasGrilla.Take(mitad).ToList();
                                                    var segundaMitad = listaEtiquetasGrilla.Skip(mitad).ToList();
                                                }

                                                <div class="row align-self-start">
                                                    <!-- Primera columna -->
                                                    <div class="col-md-6">
                                                        @foreach (var etiqueta in primeraMitad)
                                                        {
                                                            <div class="mb-2">
                                                                <h6 class="mb-1" style="font-size: 11px !important;">@etiqueta.MostrarWeb</h6>
                                                                <p class="text-muted small" style="font-size: 11px !important;">
                                                                    @(item?.DataEsquemaJson?.FirstOrDefault(f => f.IdHomologacion == etiqueta.IdHomologacion)?.Data ?? "N/A")
                                                                </p>
                                                            </div>
                                                        }
                                                    </div>

                                                
                                                    <!-- Segunda columna -->
                                                    <div class="col-md-6">
                                                        @foreach (var etiqueta in segundaMitad)
                                                        {
                                                            <div class="mb-2">
                                                                <h6 class="mb-1" style="font-size: 11px !important;">
                                                                    @etiqueta.MostrarWeb
                                                                </h6>

                                                                @{
                                                                    // Obtener el dato correspondiente a la etiqueta
                                                                    var dato = item?.DataEsquemaJson?.FirstOrDefault(f => f.IdHomologacion == etiqueta.IdHomologacion)?.Data;
                                                                }

                                                                <p class="text-muted small" style="font-size: 11px !important;">
                                                                    @if (etiqueta.IdHomologacion == 81)
                                                                    {
                                                                        <Button @onclick="() => showModalOEC(item)" Color="ButtonColor.Link" style="font-size: 10px !important;">
                                                                            @(string.IsNullOrWhiteSpace(dato) ? "ModalPrueba" : dato)
                                                                        </Button>
                                                                    }
                                                                    else if (etiqueta.IdHomologacion == 91)
                                                                    {
                                                                        <Button @onclick="() => showModalESQ(item)" Color="ButtonColor.Link" style="font-size: 10px !important;">
                                                                            @(string.IsNullOrWhiteSpace(dato) ? "ModalPrueba" : dato)
                                                                        </Button>
                                                                    }
                                                                    else
                                                                    {
                                                                        @(string.IsNullOrWhiteSpace(dato) ? "Sin datos" : dato)
                                                                    }
                                                                </p>
                                                            </div>
                                                        }
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Pie de tarjeta con botones -->
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <button class="btn btn-outline-danger btn-sm" style="font-size: 12px !important;" @onclick="() => AbrirPdf(item)">
                                            <i class="bi bi-file-pdf"></i> Ver PDF
                                        </button>
                                        <button class="btn btn-primary btn-sm" style="font-size: 12px !important;" @onclick="() => MostrarDetalle(item)">
                                            Ver Detalle
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                    else
                    {
                        <div class="col-12 text-center" style="font-size: 12px !important;">
                            <p class="label valign-text-middle inter-regular-normal-comet-14px">No se encontraron resultados.</p>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    }
</div>
