@page "/"
@page "/persona"
@using SharedApp.Models.Dtos;
@using SharedApp.Data;
@using Newtonsoft.Json;

<PageTitle>Buscador Andino</PageTitle>

<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">BUSCADOR SERVICIOS DE EVALUACIÓN DE LA CONFORMIDAD ACREDITADOS EN LA CAN</h3>

        <EditForm Model="buscarRequest" OnValidSubmit="BuscarPalabraRequest" id="search-form" class="search-form clearfix" autocomplete="off">
            <AutoComplete @bind-Value="TextSearch"
                TItem="FnPredictWordsDto"
                DataProvider="FnPredictWordsDtoDataProvider"
                PropertyName="Word"
                Placeholder="Ingrese Texto a buscar..."
                OnChanged="(FnPredictWordsDto Word) => OnAutoCompleteChanged(Word)"
            />
            <br />
            <Dropdown AutoClose="true" Split="true" style="padding: 5px;">
                <DropdownActionButton @onclick="async () => await BuscarPalabraRequest()" Color="ButtonColor.Secondary">
                    @ListTypeSearch.First(c => c.Id == ModoBuscar).Name
                </DropdownActionButton>
                <DropdownToggleButton Color="ButtonColor.Secondary" />
                <DropdownMenu>
                    @foreach(var item in ListTypeSearch)
                    {
                        <DropdownItem @onclick="async () => await BuscarPalabraRequest(item.Id)">
                            @item.Name
                        </DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>
            <div id="search-error-container"></div>
        </EditForm>
    </div>
</div>

<div class="page-container">
    <div class="container">
        <div class="row">

            <div class="span12 page-content">
                <div class="row-fluid">

                    @if (listadeOpciones != null) {
                        @for (int i = 0; i < listadeOpciones.Count; i += 1) {
                            var currentIndex = i;
                            <div class="span2">
                                <Dropdown AutoClose="true" style="max-width: 100%; min-width: 100%">
                                    <DropdownToggleButton Color="ButtonColor.Secondary">
                                        @listaEtiquetasFiltros?[currentIndex].MostrarWeb
                                    </DropdownToggleButton>
                                    <DropdownMenu>
                                        @if (listadeOpciones?[currentIndex] != null) {
                                            foreach (var opcion in listadeOpciones[currentIndex] ?? []) {
                                                <DropdownItem @onclick="() => CambiarSeleccion(opcion.IdHomologacion, currentIndex)">
                                                    @if (selectedValues != null && selectedValues.Count > currentIndex && selectedValues[currentIndex].Contains(opcion.IdHomologacion))
                                                    {
                                                        <Icon Name="IconName.Check" />
                                                    }
                                                    @opcion.MostrarWeb
                                                </DropdownItem>
                                            }
                                        }
                                    </DropdownMenu>
                                </Dropdown>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <IndexGrilla
            @ref="childComponentRef"
            buscarRequest="@buscarRequest"
            selectedValues="@selectedValues"
        />
    </div>
</div>