@page "/"
@page "/persona"

@using SharedApp.Models.Dtos;
@using SharedApp.Data;
@using Newtonsoft.Json;

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <style>

    </style>

</head>
<body>
    <div class="pagina">
        <div class="top">
            <div class="top-2">
                <img class="vector" src="images/logo2bg.png" />
                <div class="text">
                    <div class="red-de-organismos-de-wrapper">
                        <p class="red-de-organismos-de">
                            <span class="span">Red de Organismos de la Conformidad: </span>
                            <span class="text-wrapper-2">Conecta YA</span>
                        </p>
                    </div>
                </div>
                <div class="logo"><img class="frame-2" src="images/logo1bg.png" /></div>
            </div>
            <div class="container">
                <div class="control">
                    <div class="top-filters">
                        <div class="search-container">
                    @*         <div class="search-bar-2">
                                <div class="search-input">
                                    <div class="input-group">
                                        <input type="text" @bind="searchTerm" class="form-control" placeholder="Buscar..." />
                                        <button class="btn btn-primary" @onclick="BuscarPalabraRequest">Buscar</button>
                                    </div>
                                </div>
                            </div> *@
                            <div class="search-bar-2">
                                <div class="search-input">
                                    <div class="input-group">
                                        <input type="text" @bind="searchTerm" @oninput="OnSearchChanged" class="form-control" list="suggestions" placeholder="Buscar..." />
                                        <datalist id="suggestions">
                                            @foreach (var word in ListFnPredictWordsDto)
                                            {
                                                <option value="@word.Word"></option>
                                            }
                                        </datalist>
                                        <button class="btn btn-primary" @onclick="BuscarPalabraRequest">Buscar</button>
                                    </div>
                                </div>
                            </div>

                            <div class="div-2">
                                <input class="form-check-input" type="checkbox" id="exactSearch" @bind="isExactSearch" />
                                <label class="form-check-label" for="exactSearch">
                                    Búsqueda exacta
                                </label>
                            </div>
                        </div>
                        <div class="dashboard">
                            <div class="frame-4">
                                <div class="text-wrapper-3">Total</div>
                                <div class="element">@TotalEmpresa</div>
                            </div>
                            <div class="frame-5">
                                @foreach (var item in listaDatosPanel)
                                {
                                    <div class="panel-item">
                                        <div class="frame-6">
                                            <div class="div-3">
                                                @if (!string.IsNullOrEmpty(item.icono) && item.icono.TrimStart().StartsWith("{"))
                                                {
                                                    var deserialized = JsonConvert.DeserializeObject<Dictionary<string, string>>(item.icono);
                                                    if (deserialized != null && deserialized.ContainsKey("filePath"))
                                                    {
                                                        item.icono = deserialized["filePath"];
                                                    }
                                                }
                                                else
                                                {
                                                    Console.WriteLine($"Valor inválido en item.icono: {item.icono}");
                                                }
                                                <img class="img-2" src="@item.icono" />
                                                <div class="text-wrapper-4">@item.Siglas</div>
                                            </div>
                                            <div class="text-wrapper-5">@item.pais</div>
                                        </div>
                                        <div class="element-2">@item.empresas</div>
                                    </div>
                                    <div class="divider"></div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Botón para alternar visibilidad -->
                    <div class="container-2">
                        <div class="advanced-filters" @onclick="AlternarFiltrosAvanzados" style="cursor: pointer; font-weight: bold;">
                            @textoFiltrosAvanzados
                        </div>
                        <div class="divider-2"></div>
                        <div class="view-mode">
                            <div class="tabs">
                                <img class="img-2" src="login/img/format-list-bulleted-5.svg" />
                            </div>
                            <div class="tabs-2">
                                <img class="img-2" src="login/img/location-on.svg" @onclick="AlternarIndexCard"
                                     style="border: @(mostrarIndexCard ? "2px solid green" : "none"); cursor: pointer;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (mostrarFiltrosAvanzados)
            {
                <!-- Seleccion Multiple -->
                <div class="container-wrapper">
                    <div class="container-3">
                        <div class="container">
                            <div class="row g-3 align-items-center">
                                <!-- Generar Selects Dinámicamente -->
                                @if (listadeOpciones != null)
                                {
                                    @for (int i = 0; i < listadeOpciones.Count; i++)
                                    {
                                        var currentIndex = i;
                                        <div class="col form-check-label" style="font-family: 'Inter-Medium', Helvetica, sans-serif !important; font-size: 14px !important;">
                                            <label for="select-@currentIndex" class="form-label text-small" style="font-weight: bold;"
                                                   title="@listaEtiquetasFiltros?[currentIndex]?.TooltipWeb">
                                                @listaEtiquetasFiltros?[currentIndex]?.MostrarWeb
                                            </label>
                                            <!-- Select List con Checkboxes -->
                                            <div>
                                                <button class="btn btn-secondary dropdown-toggle custom-bg"
                                                        style="font-family: 'Inter-Medium', Helvetica, sans-serif !important; font-size: 14px !important;"
                                                        type="button"
                                                        id="dropdownMenuButton-@currentIndex"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    Seleccionar Opciones
                                                </button>
                                                <ul class="dropdown-menu p-2" style="font-family: 'Inter-Medium', Helvetica, sans-serif !important; font-size: 14px !important;" aria-labelledby="dropdownMenuButton-@currentIndex">
                                                    @if (listadeOpciones?[currentIndex] != null)
                                                    {
                                                        @foreach (var opcion in listadeOpciones[currentIndex] ?? [])
                                                        {
                                                            <li>
                                                                <div class="form-check" style="display: flex; align-items: center;">
                                                                    <input class="form-check-input"
                                                                           type="checkbox"
                                                                           id="check-@currentIndex-@opcion.MostrarWeb"
                                                                           style="border: 2px solid #007bff; width: 18px; height: 18px; margin-right: 8px;"
                                                                           @onchange="(e) => CambiarSeleccion(opcion.MostrarWeb, currentIndex, e.Value)">
                                                                    <label class="form-check-label" for="check-@currentIndex-@opcion.MostrarWeb" style="margin: 0;">
                                                                        @opcion.MostrarWeb
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                            <!-- Área para mostrar selecciones -->
                            @*   <div class="row mt-3">
                        <div class="col">
                        <label class="form-label">Opciones seleccionadas:</label>
                        <div class="d-flex flex-wrap gap-2">
                        @foreach (var seleccion in Selecciones)
                        {
                        <span class="badge bg-primary text-white">
                        @seleccion.Texto
                        <button type="button" class="btn-close btn-close-white btn-sm ms-1"
                        @onclick="() => QuitarSeleccion(seleccion.ComboIndex, seleccion.Texto)">
                        </button>
                        </span>
                        }
                        </div>
                        </div>
                        </div> *@




                        </div>
                    </div>
                </div>
            }
            <div class="result-container">
                @if (mostrarBuscador)
                {
                    @if (!mostrarIndexCard)
                    {
                        <IndexGrilla @ref="childComponentRef"
                                     buscarRequest="@buscarRequest"
                                     selectedValues="@selectedValues"
                                     listaEtiquetasFiltros="@listaEtiquetasFiltros"
                                     OnPanelONAUpdated="ActualizarPanelONA" />
                    }
                    else
                    {
                        <IndexCard @ref="cardComponentRef"
                                   buscarRequest="@buscarRequest"
                                   selectedValues="@selectedValues"
                                   listaEtiquetasFiltros="@listaEtiquetasFiltros"
                                   isExactSearch="@isExactSearch" />
                    }

                }



            </div>

        </div>
        @if (mostrarPublicidad)
        {
            <div class="main-container">
                <p class="title">Aprende a usar el buscador en pocos pasos</p>
                <div class="content-container">
                    <div class="data-table">
                        <div class="step-container">
                            <div class="pais">
                                <div class="step-number"><div class="text-wrapper">01</div></div>
                            </div>
                            <div class="info-total">
                                <div class="left">
                                    <div class="razon-social"><p class="step-description">Digite la palabra o Frase</p></div>
                                    <div class="div">
                                        <div class="frame">
                                            <p class="resultados">
                                                EJ. “Leche”, en el cuadro de texto, el sistema sugerirá las palabras más buscadas relacionadas a
                                                Leche, como “milk”, “lechoso”, “lacteo”.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expanded-user-menu">
                            <div class="popular-search">
                                <img class="img" src="login/img/trending-up@2x.png" />
                                <div class="popular-search-title">Populares en la busqueda</div>
                            </div>
                            <div class="popular-search-tags">
                                <div class="chips"><div class="new">Minerales</div></div>
                                <div class="chips"><div class="new">ISO 17210</div></div>
                                <div class="chips"><div class="new">Chocolate</div></div>
                                <div class="chips"><div class="new">Calzado</div></div>
                                <div class="chips"><div class="new">Productos Químicos</div></div>
                                <div class="chips"><div class="new">Alimentos</div></div>
                                <div class="chips"><div class="new">Vestimenta</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="data-table-2">
                        <div class="step-container-2">
                            <div class="step-number-wrapper">
                                <div class="step-number"><div class="text-wrapper">02</div></div>
                            </div>
                            <div class="left-wrapper">
                                <div class="left-2">
                                    <div class="razon-social"><div class="step-description">Filtrables</div></div>
                                    <div class="div">
                                        <div class="frame">
                                            <p class="resultados">
                                                Si además de la búsqueda anterior, requiere filtrar por País, Organismo o Esquema, despliegue y
                                                seleccione la opción.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="paises-filtro">
                            <div class="div">
                                <div class="button-select"><div class="texas-location">Todos los Paises</div></div>
                                <div class="button-select-2">
                                    <div class="texas-location-2">Colombia</div>
                                    <img class="chevron-right" src="login/img/chevron-right-4.svg" />
                                </div>
                                <div class="button-select-2">
                                    <div class="texas-location-2">Ecuador</div>
                                    <img class="chevron-right" src="login/img/chevron-right-3.svg" />
                                </div>
                                <div class="button-select-2">
                                    <div class="texas-location-2">Perú</div>
                                    <img class="chevron-right" src="login/img/chevron-right-2.svg" />
                                </div>
                                <div class="button-select-2">
                                    <div class="texas-location-2">Bolívia</div>
                                    <img class="chevron-right" src="login/img/chevron-right.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="step-container-3" src="login/img/step-container.svg" />
                </div>
            </div>
        }

    </div>
    <script src="js/Pdf.js"></script>
</body>



