@using ClientApp.Models;
@using SharedApp.Models.Dtos;

<Tabs EnableFadeEffect="true">
    @if (Columnas != null && Columnas.Any())
    {
        <Tab Active="true" style="font-size: 11px !important;">
            <TitleTemplate>
                <Tooltip Title="" style="font-size: 9px !important;">
                    <span style="font-size: 9px !important; color: inherit;">
                        @esquema
                    </span>
                </Tooltip>
            </TitleTemplate>
            <Content>

                <div class="py-2">
                    <Grid TItem="DataEsquemaDatoBuscar"
                          class="table table-hover table-bordered table-striped"
                          DataProvider="HomologacionEsquemasDataProvider"
                          Responsive="true"
                          FixedHeader="true"
                          Height="350"
                          Style="font-size: 10px !important;">
                        @foreach (var item in Columnas)
                        {
                            <GridColumn TItem="DataEsquemaDatoBuscar" PropertyName="@item.MostrarWeb">
                                <HeaderContent>
                                    <Tooltip Title="@item.TooltipWeb"><span style="font-weight: bold;">@item.MostrarWeb</span></Tooltip>
                                </HeaderContent>
                                <ChildContent>
                                    @{
                                        var dato = context?.DataEsquemaJson?.FirstOrDefault(f => f.IdHomologacion == item.IdHomologacion)?.Data;
                                    }
                                    @if (dato != null && dato.Contains("$$") && (item.IdHomologacion == 64 || item.IdHomologacion == 72 || item.IdHomologacion == 73))
                                    {
                                        <!-- Renderizamos la fórmula LaTeX -->
                                        string formulaExtraida = ExtraerFormula(dato);
                                        <span class="latex-formula">@((MarkupString)$"\\( {formulaExtraida} \\)")</span>
                                    }
                                    else
                                    {
                                        <!-- Renderizamos texto normal -->
                                        @((MarkupString)dato)
                                    }
                                </ChildContent>
                            </GridColumn>
                        }
                    </Grid>
                </div>
            </Content>
        </Tab>

    }

</Tabs>
