@using BlazorBootstrap


<Toasts Placement="@toastsPlacement" />

<div class="content-buscador">
    <div class="div-input-text">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="text-danger mt-2">@errorMessage</div>
        }
        <img src="/images/ico-search-gray.svg" width="20" height="20" alt="Buscar...">
        <input id="inputBusqueda"
               class="input-search"
               placeholder="¿Qué certificación necesitas?"
               @bind="searchText"
               @oninput="HandleChangeTextSearch"
               list="suggestions"
               disabled="@IsLoading" />
        <datalist id="suggestions">
            @foreach (var word in ListFnPredictWordsDto)
            {
                <option value="@word.Word"></option>
            }
        </datalist>
    </div>
    <button class="btn-general btn-rounded b-yellow c-black btn-search" @onclick="onClickFilter" disabled="@IsLoading">
        <img src="/images/ico-search.svg" width="18" height="18" alt="Accede a tu cuenta">Buscar
    </button>
    @if (IsLoading)
    {
        <div class="loading-container">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
            <p class="loading-text">Buscando...</p>
        </div>
    }

    @if (isGridVisible)
    {
        <button class="btn-general btn-rounded btn-info-empresas" style="display: none" @onclick="() => _ = isGridVisibleChanged.InvokeAsync(false)">
            <img src="/images/ico-empresas.svg" width="18" height="18">
        </button>
    }
    else
    {
        <button class="btn-general btn-rounded btn-filters-mobile" style="display: none" @onclick="() => _ = isGridVisibleChanged.InvokeAsync(true)">
            <img src="/images/ico-menu-dots.svg" width="30" height="30">
        </button>
    }
    
   
</div>
<div class="content-filtros m-top-2">
    <label class="container-checkbox c-light-blue" for="busqueda-exacta">
        <input type="checkbox" @bind="isExactSearch" id="busqueda-exacta">
        <span class="checkmark"></span>
        Búsqueda exacta
    </label>
    <label class="container-checkbox c-light-blue" for="filtros-avanzados">
        <input type="checkbox" id="filtros-avanzados">
        <span class="checkmark"></span>
        Ver filtros avanzados
    </label>
    <div class="content-filtro-visualizacion c-light-blue">
        Visualización
        <div class="filtros-visualizacion b-neutral-gray">
            <button class="btn-visualizacion" data-id="tabla"><img src="/images/ico-filter-grid.svg"></button>
            <button class="btn-visualizacion" data-id="mapa"><img src="/images/ico-filter-map.svg"></button>
        </div>
    </div>
</div>


<script>
     window.cerrarDropdowns = () => {
        const active = document.activeElement;

        // Evita cerrar dropdowns si el foco está en el input de búsqueda
        if (active && active.id === "inputBusqueda") {
            return;
        }

        // Cierra los dropdowns visibles
        document.querySelectorAll('.dropdown-menu.show').forEach(menu => {
            menu.classList.remove('show');
        });

        // Cierra los toggles visibles
        document.querySelectorAll('.dropdown-toggle.show').forEach(button => {
            button.classList.remove('show');
            button.setAttribute("aria-expanded", "false");
        });
    };
</script>