@page "/migracion-excel"
@layout AdminLayout
@using SharedApp.Models.Dtos

<PageTitle>Migraciones desde excel</PageTitle>

<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2 py-2">
    <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/nueva-migarcion-excel">Importar Excel</Button>
</div>

<Grid @ref="grid" TItem="LogMigracionDto" class="table table-hover table-bordered table-striped" DataProvider="LogMigracionDtoDataProvider" Responsive="true">
    <GridColumn TItem="LogMigracionDto" HeaderText="Migración" PropertyName="IdLogMigracion">
        @context.IdLogMigracion
    </GridColumn>
    <GridColumn TItem="LogMigracionDto" HeaderText="EsquemaVista" PropertyName="EsquemaVista">
        @context.EsquemaVista
    </GridColumn>
    <GridColumn TItem="LogMigracionDto" HeaderText="Estado" PropertyName="MigracionEstado">
        @context.Estado
    </GridColumn>
    <GridColumn TItem="LogMigracionDto" HeaderText="Nombre archivo" PropertyName="ExcelFileName">
        @context.ExcelFileName
    </GridColumn>
    <GridColumn TItem="LogMigracionDto" HeaderText="Error" PropertyName="MensageError">
        @context.Observacion
    </GridColumn>
</Grid>