@page "/sinonimos"
@layout AdminLayout


<style>
    *{
    font-family: var(--font-family-inter-semibold) !important;
    }
    .btn{
    margin-bottom:0.5em;
    }

    .margin_title{
    margin: 1em;
    }

    .mnjError{
    margin:1em;
    color:red;
    font-size:9px;
    }

    .mnjRegistroExitoso{
    margin: 1em;
    color: #198754;
    font-size: 14px;
    }

    .mnjRegistroError{
    margin: 1em;
    color: red;
    font-size: 14px;
    }

    .li-flex{
    display:flex !important;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    padding-top:0;
    padding-bottom:0;
    }

    .div_flex{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-end;
    align-items:center;
    }

    .div_flex_secction {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .div_flex_buttom{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        gap:0.5em;
        
    }

    .ancho_85{
    width:85%;
    }

    .ancho_70 {
    width: 70%;
    }

    .ancho_40 {
        width: 40%;
    }

    .ancho_20 {
        width: 20%;
    }
    .ancho_15{
    width: 15%;
    }

    .ancho_10 {
        width: 10%;
    }

    .ancho_4 {
        width: 4%;
    }

    .ancho_100 {
    width: 100%;
    }


    .input_control{
    padding:0.5em;
    height:2.7em;
    border: 1px solid #212529;
    border-top-left-radius:10px;

    }
    .btn_control{
    height:2.5em;
    background-color:grey;
    color:white;
    border: 1px solid #212529;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom:0px !important;

    }

    .margin_botton{
    margin-bottom:0.5em;
    }

    .btn_control_guardar{
    height:2.5em;
    background-color: #198754;
    border: 1px solid #212529;
    color:white;
    margin-bottom: 0px !important;

    }

    .btn_control_bat {
    height: 2.5em;
    background-color: #0d6efd;
    border: 1px solid #212529;
    color: white;
    margin-bottom: 0px !important;

    }

    .paddign_10{
        padding:10px !important;
    }

    .margin_b_10 {
        margin-bottom: 10px !important;
    }

    .accordion-button{
        width:95% !important;

    }
</style>

<h1 class="title">Administración de Sinonimos</h1>

@if (thesauro is null)
{
    <p>Cargando...</p>
}
else
{
    <div class="div_flex ancho_100 margin_botton">
        <div class="div_flex ancho_100 margin_b_10">
            <input type="text" placeholder="Ingrese el sinonimo a buscar" @bind="sinonimoBuscar" @oninput="MostarTodos"  class="ancho_70 input_control" />
            <Button class="ancho_30 btn_control" @onclick="() => BuscarSinonimo()">Buscar Sinonimo</Button>
        </div>
        @if (this.usuarioLogin == "KEY_USER_CAN")
        {
            <div class="div_flex_buttom ancho_100">
                <div class="ancho_20">
                    <Button class="btn_control_guardar ancho_100" @onclick="() => GuardarThesauro()">Guardar</Button>
                </div>
                <div class="ancho_20">
                    <Button class="btn_control_bat ancho_100" @onclick="() => NuevaSeccion()">Nueva Sección</Button>
                </div>
                <div class="ancho_20">
                    <Button class="btn_control_bat ancho_100" @onclick="() => EjecutarBat()">Publicar</Button>
                </div>
                <!--
                <div class="ancho_20">
                    <Button class="btn_control_bat ancho_100" @onclick="() => ResetearqSqlServer()">Resetear Base de datos</Button>
                </div>
                -->
            </div>
            
        }


    </div>

    <div class="accordion" id="accordionThesaurus">

        @foreach (var (expansion, i) in thesauro.Expansions.Select((value, index) => (value, index)))
        {
            var collapseId = $"collapse{i}";

            <div class="accordion-item">
                    <h2 class="accordion-header div_flex_secction" id="heading@i">
                        @if (this.usuarioLogin == "KEY_USER_CAN")
                        {
                        <button class="btn btn-danger btn-sm mt-0 ancho_4" @onclick="()=> AbrirModalQuitarSeccion(i)">-</button>
                        }
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId">
                            Seccion
                        </button>

                    </h2>
                <div id="@collapseId" class="accordion-collapse collapse" data-bs-parent="#accordionThesaurus">
                    <div class="accordion-body">
                        @if (this.usuarioLogin == "KEY_USER_CAN") {
                            <button class="btn btn-primary btn-sm mt-2" @onclick="() => AbrirModal(i)">Agregar</button>
                        }
                        <ul class="list-group">
                            @foreach (var substitute in expansion.Substitutes)
                            {
                                <li class="list-group-item li-flex paddign_10">
                                    <label>@substitute</label>
                                    @if (this.usuarioLogin == "KEY_USER_CAN")
                                    {
                                        <button class="btn btn-danger btn-sm mt-2" @onclick="() => AbrirModalQuitarSinonimo(i,substitute)">-</button>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
    
    if (isMensajeGuardar)
    {
        if (isMensajeGuardarExitoso)
        {
            <div class="mnjRegistroExitoso">@mensajeGuardar</div>
        }else {
            <div class="mnjRegistroError">@mensajeGuardar</div>
        }

    }
}

<div class="modal fade @(modalAbierto ? "show d-block" : "d-none")" tabindex="-1" style="background: rgba(0, 0, 0, 0.5);" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Sinonimo</h5>
                <button type="button" class="btn-close" @onclick="CerrarModal"></button>
            </div>
            <div class="modal-body">
                @* <input type="text" class="form-control" @bind="nuevoSubstituto" placeholder="Ingrese el sinonimo"> *@
                <div class="input-group">
                <input type="text" @bind="nuevoSubstituto" @oninput="OnSearchChanged" class="form-control" list="suggestions" placeholder="Ingrese el sinonimo" />
                <datalist id="suggestions">
                    @foreach (var word in ListFnPredictWordsDto)
                    {
                        <option value="@word.Word"></option>
                    }
                </datalist>
                </div>
                @{
                    if (isMensaje)
                    {
                        <div class="mnjError">@mensajeGuardar</div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" @onclick="CerrarModal">Cancelar</button>
                <button class="btn btn-primary" @onclick="AgregarSubstituto">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade @(modalQuitarSinonimoAbierto ? "show d-block" : "d-none")" tabindex="-1" style="background: rgba(0, 0, 0, 0.5);" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sinonimo</h5>
                <button type="button" class="btn-close" @onclick="CerrarModal"></button>
            </div>
            <div class="modal-body">
                <label>¿Desea quitar el sinonimo seleccionado?</label>
            </div>
            
            <div class="modal-footer">
                <button class="btn btn-secondary" @onclick="QuitarSubstituto">Si</button>
                <button class="btn btn-primary" @onclick="CerrarModal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade @(modalQuitarSeccion ? "show d-block" : "d-none")" tabindex="-1" style="background: rgba(0, 0, 0, 0.5);" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sinonimo</h5>
                <button type="button" class="btn-close" @onclick="CerrarModal"></button>
            </div>
            <div class="modal-body">
                <label>¿Desea quitar la sección seleccionada?</label>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" @onclick="QuitarSeccion">Si</button>
                <button class="btn btn-primary" @onclick="CerrarModal">No</button>
            </div>
        </div>
    </div>
</div>